<% provide :title, t("admin_reviews_page") %>

<div class="container">
  <h2> <%= t ".content_1" %> </h2>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th> <%= t ".title_book_id" %> </th>
        <th> <%= t ".title_user_id" %> </th>
        <th> <%= t ".title_rating" %> </th>
        <th> <%= t ".title_content" %> </th>
        <th colspan="2"> <%= t ".title_option" %> </th>
      </tr>
    </thead>
    <tbody>
      <% @reviews.each do |m| %>
        <tr>
          <td> <%= m.book_id %> </td>
          <td> <%= m.user_id %> </td>
          <td> <%= m.rating %> </td>
          <td> <%= m.content %> </td>
          <td> <%= link_to t(".edit_btn"), "#" %> </td>
          <td> <%= link_to t(".delete_btn"), "#" %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
