<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @book, html: {multipart: true} do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= select_tag(:category_id, options_for_select(@categories),
        prompt: t(".select_category")) %>

      <span class="picture">
        <%= f.file_field :book_img_file_name %>
      </span>

      <%= f.label t("field_book_title") %>
      <%= f.text_field :title, class: "form-control" %>

      <%= f.label t("field_book_description") %>
      <%= f.text_field :description, class: "form-control" %>

      <%= f.label t("field_author") %>
      <%= f.text_field :author, class: "form-control" %>

      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
