<% provide :title, t("home") %>

<p>
  <h1><%= t ".book_list" %></h1>

  <%= link_to "Add book", new_book_path%>

  <%= will_paginate %>

  <ul class="books">
    <%= render @books %>
  </ul>

  <%= will_paginate %>
</p>
