<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <%= form_for [@book, review] do |f| %>

      <div id="rating-form">
        <label><%= t ".rating" %></label>
      </div>

      <%= f.label t("field_content") %>
      <%= f.text_field :content, class: "form-control" %>

      <%= f.submit t("submit_btn"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
